extends layout

block scripts
  script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js")
  script(type="text/javascript",src="//code.createjs.com/easeljs-0.6.0.min.js")
  script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.2.0/lodash.min.js")
  script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.0/knockout-min.js")
  script(type="text/javascript",src="/js/uuid.js")
  script(type="text/javascript",src="/js/classes.js")
  script(type="text/javascript",src="/js/main.js")


block content
  body(onload="init();")
    #mainContainer
      #headerContainer.centerText
        h1 Retro Roman Zombie Apocalypse
      #gameContainer
        canvas#gameCanvas(width=500,height=500) no canvas support


