body {
  padding: 10px;
  font: 14px Helvetica, Arial, sans-serif;
  background-color: #333333;
  color: #FFFFFF;
}

#mainContainer {
  margin: 0 auto;
  width: 800px;
}

.centerText {
  text-align: center;
}
